<div class="page-title">                    
  <h2><span class="fa fa-arrow-circle-o-left"></span> Category</h2>
</div>
<div class="page-content-wrap">
                
  <div class="row">
      <div class="col-md-12">
          
          <form class="form-horizontal">
                                          
              <div class="panel panel-default tabs">                            
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="active"><a href="#Category" role="tab" data-toggle="tab">Category</a></li>
                      <li><a href="#Sub-Category" role="tab" data-toggle="tab">Sub-Category</a></li>
                 </ul>
                  <div class="panel-body tab-content">
                      <div class="tab-pane active" id="Category">
                        <div class="page-content-wrap">                
                
                          <div class="row">
                              <div class="col-md-12">
      
                                  <!-- START DEFAULT DATATABLE -->
                                  <div class="panel panel-default">
                                      <div class="panel-heading">                                
                                          <h3 class="panel-title">Category List</h3>
                                          <ul class="panel-controls">
                                              <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                              <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                              <!-- <li><a data-box="#AddCategory"><span class="fa fa-times"></span></a></li> -->
                                              <li>  <a class="mb-control" data-box="#add-Category"><span class="fa fa-plus-square"></span></a></li>
                                          </ul>                                
                                      </div>
                                      <div class="panel-body">
                                          <table class="table datatable">
                                              <thead>
                                                  <tr>
                                                      <th>Name</th>
                                                      <th>Position</th>
                                                      <th>Office</th>
                                                      <th>Age</th>
                                                      <th>Start date</th>
                                                      <th>Salary</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>Tiger Nixon</td>
                                                      <td>System Architect</td>
                                                      <td>Edinburgh</td>
                                                      <td>61</td>
                                                      <td>2011/04/25</td>
                                                      <td>$320,800</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Garrett Winters</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>63</td>
                                                      <td>2011/07/25</td>
                                                      <td>$170,750</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Ashton Cox</td>
                                                      <td>Junior Technical Author</td>
                                                      <td>San Francisco</td>
                                                      <td>66</td>
                                                      <td>2009/01/12</td>
                                                      <td>$86,000</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Cedric Kelly</td>
                                                      <td>Senior Javascript Developer</td>
                                                      <td>Edinburgh</td>
                                                      <td>22</td>
                                                      <td>2012/03/29</td>
                                                      <td>$433,060</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>                                
                        </div> 
                      </div>


                      <div class="tab-pane" id="Sub-Category">
                         <div class="page-content-wrap">                
                
                          <div class="row">
                              <div class="col-md-12">
      
                                  <!-- START DEFAULT DATATABLE -->
                                  <div class="panel panel-default">
                                      <div class="panel-heading">                                
                                          <h3 class="panel-title">Sub-Category List</h3>
                                          <ul class="panel-controls">
                                              <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                              <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                              <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                          </ul>                                
                                      </div>
                                      <div class="panel-body">
                                          <table class="table datatable">
                                              <thead>
                                                  <tr>
                                                      <th>Name</th>
                                                      <th>Position</th>
                                                      <th>Office</th>
                                                      <th>Age</th>
                                                      <th>Start date</th>
                                                      <th>Salary</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>Tiger Nixon</td>
                                                      <td>System Architect</td>
                                                      <td>Edinburgh</td>
                                                      <td>61</td>
                                                      <td>2011/04/25</td>
                                                      <td>$320,800</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Garrett Winters</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>63</td>
                                                      <td>2011/07/25</td>
                                                      <td>$170,750</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Ashton Cox</td>
                                                      <td>Junior Technical Author</td>
                                                      <td>San Francisco</td>
                                                      <td>66</td>
                                                      <td>2009/01/12</td>
                                                      <td>$86,000</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Cedric Kelly</td>
                                                      <td>Senior Javascript Developer</td>
                                                      <td>Edinburgh</td>
                                                      <td>22</td>
                                                      <td>2012/03/29</td>
                                                      <td>$433,060</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>                                
                        </div>   
                      </div>   
                  </div>
              </div>                                
          
          </form>
          
      </div>
  </div>                    
  
</div>



<div class="message-box animated fadeIn" data-sound="alert" id="add-Category">
  <div class="mb-container">
       <div class="col-md-4">
              <div class="panel panel-colorful">
                  <div class="panel-body">
                      <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                  
                      <h2>Contact</h2>
                      <p>Feel free to contact us for any issues you might have with our products.</p>
                      <div class="form-group">
                          <label>E-mail</label>
                          <input type="email" class="form-control" placeholder="youremail@domain.com"/>
                      </div>
                      <div class="form-group">
                          <label>Subject</label>
                          <input type="email" class="form-control" placeholder="Message subject"/>
                      </div>                                
                      <div class="form-group">
                          <label>Message</label>
                          <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                      </div>                                
                  </div>
                  <div class="panel-footer"> 
                      <button class="btn btn-success pull-right">Send</button>
                  </div>
              </div>
            </div>
  </div>
</div>


