<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row" *ngIf="pageSection=='list'">
    <div class="col-md-12">

      <!-- START DEFAULT DATATABLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Default</h3>
          <ul class="panel-controls">
            <li><a class="panel-collapse cursorPointer"><span class="fa fa-angle-down"></span></a></li>
            <li><a class="panel-refresh cursorPointer"><span class="fa fa-refresh"></span></a></li>
            <li><a class="cursorPointer" title="Add" (click)="pageSection='add'; jobSeeker={}"><span class="fa fa-plus-square"></span></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>City</th>
                <th>Area</th>
                <th>Referal Code</th>                
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jobSeeker of jobSeekers; let i = index">
                <td>{{i+1}}</td>
                <td>{{jobSeeker.name}}</td>
                <td>{{jobSeeker.email}}</td>
                <td>{{jobSeeker.contactNo}}</td>
                <td>{{jobSeeker.city}}</td>
                <td>{{jobSeeker.area}}</td>
                <td>{{jobSeeker.referalCode}}</td>
                <th><i class="fa fa-edit cursorPointer" (click)="editJobSeeker(jobSeeker);" title="Edit"> </i>&nbsp; &nbsp; <i class="fa fa-trash-o cursorPointer" title="Delete"></i></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END DEFAULT DATATABLE -->

    </div>
  </div>

  <div class="row" *ngIf="pageSection=='add'">
    <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Add Job-Seeker</strong></h3>
            <ul class="panel-controls">
              <li><a class="cursorPointer" title="Close" (click)="pageSection='list'; jobSeeker={}"><span class="fa fa-times"></span></a></li>
             </ul>
          </div>
          <div class="panel-body">

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Name</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.name" />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Email</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.email"/>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Contact No</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.contactNo"/>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Referal Code</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.referalCode"/>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">City</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.city"/>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Area</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.area"/>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-3 col-xs-12 control-label">Preferred Location Length</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                  <input type="text" class="form-control" [(ngModel)]="jobSeeker.prefLoacationLenght"/>
                </div>
              </div>
            </div>


          </div>
          <div class="panel-footer">
            <button class="btn btn-default" (click)="jobSeeker={}">Clear Form</button>
            <button class="btn btn-primary pull-right" (click)="addJobSeeker()">Submit</button>
          </div>
        </div>

    </div>
  </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->